<div class="movie-detail-wrapper">
  <ui-detail-grid *ngIf="(movie$ | async) as movie; else: loader">
    <div detailGridMedia>
      <img class="aspectRatio-2-3 fit-cover"
           [src]="movie.poster_path | movieImage: 780"
           [alt]="movie.title"
           width="780px"
           height="1170px">
    </div>
    <div detailGridDescription>
      <header>
        <h1>{{ movie.title }}</h1>
        <h2>{{ movie.tagline }}</h2>
      </header>
      <section class="movie-detail--basic-infos">
        <ui-star-rating
          [rating]="movie.vote_average"
          [showRating]="true"
        ></ui-star-rating>
        <div class="movie-detail--languages-runtime-release">
          <strong>
            {{ movie.spoken_languages[0] ? movie.spoken_languages[0].english_name : '' }} /
            {{ movie.runtime }} min /
            {{ movie.release_date | date: 'Y' }}
          </strong>
        </div>
      </section>
      <section>
        <h3>The Genres</h3>
        <div class="movie-detail--genres">
          <!-- class="movie-detail--genres-link" genre links -->
          <a class="movie-detail--genres-link"
               *ngFor="let genre of movie.genres">
            <fast-svg name="genre"></fast-svg>
            {{ genre.name }}
          </a>
        </div>
      </section>
      <section>
        <h3>The Synopsis</h3>
        <p>{{ movie.overview || 'Sorry, no overview available' }}</p>
      </section>
      <section>
        <h3>The Cast</h3>
        <div class="movie-detail--cast-list">
          <div class="cast-list"
               *ngIf="(credits$ | async) as credits">
            <div class="movie-detail--cast-actor"
                 *ngFor="let actor of credits.cast">
              <img
                loading="lazy"
                [src]="
                  actor?.profile_path
                    ? 'https://image.tmdb.org/t/p/w185' + actor.profile_path
                    : 'assets/images/no_poster_available.jpg'
                "
                [alt]="actor.name"
                [title]="actor.name"
              />
            </div>
            <!-- class="movie-detail--cast-actor" -->
            <!-- <img
                loading="lazy"
                [src]="
                  c?.profile_path
                    ? 'https://image.tmdb.org/t/p/w185' + c.profile_path
                    : 'assets/images/no_poster_available.jpg'
                "
                [alt]="c.name"
                [title]="c.name"
              />
              -->
          </div>
        </div>
      </section>
      <section class="movie-detail--ad-section-links">
        <!-- homepage -->
        <a
          class="btn"
          target="_blank"
          rel="noopener noreferrer"
        >
          Website
          <fast-svg class="btn__icon" name="website"></fast-svg>

        </a>
        <!-- (ngIf) ? imdb_id -->
        <a
          class="btn"
          target="_blank"
          rel="noopener noreferrer"
          [href]="'https://www.imdb.com/title/'"
        >
          IMDB
          <fast-svg class="btn__icon" name="imdb"></fast-svg>
        </a>
        <!-- (ngIf) ? imdb_id -->
        <a
          class="btn"
        >
          Trailer
          <fast-svg class="btn__icon" name="play"></fast-svg>
        </a>
        <!-- TODO: create dialog with iframe embed -->
        <!-- back function -->
        <button class="btn primary-button">
          <fast-svg class="btn__icon" name="back" size="1em"></fast-svg>&nbsp;Back
        </button>
      </section>
    </div>
  </ui-detail-grid>
</div>
<div>
  <header>
    <h1>Recommended</h1>
    <h2>Movies</h2>
  </header>
  <ng-container *ngIf="(recommendations$ | async) as recommendations; else: loader">

    <movie-list
      [movies]="recommendations.results"
      *ngIf="recommendations.results.length > 0; else: noResult">
    </movie-list>

    <ng-template #noResult>
      <div>No recommended movies</div>
    </ng-template>

  </ng-container>

  <ng-template #loader>
    <div class="loader"></div>
  </ng-template>

</div>
